.bash_history
*.cert
*.key
*.pid 
*/.venv/*
udi-example1-poly/logs/
casambi-oadr/__pycache__/
casambi-oadr/logs/
audio-player/profile/nls/en_us.txt
audio-player/logs/
audio-player/lib64/*
audio-player/m.list
audio-player/tmp_sounds/
audio-player/__pycache__/
lib64/
lib/
bin/
ud-bluetooth/logs/__pycache__/
ud-bluetooth/logs/
ud-bluetooth/logs/*
drop/logs/
drop/dmap.json
logs/*
