.bash_history
*.cert
*.key
*.pid 
*/.venv/*
udi-example1-poly/logs/
casambi-oadr/__pycache__/
casambi-oadr/logs/
audio-player/profile/nls/en_us.txt
audio-player/logs/
audio-player/lib64/*
audio-player/m.list
audio-player/tmp_sounds/
audio-player/sounds/
audio-player/__pycache__/
lib64/
lib/
bin/
ud-bluetooth/__pycache__/
ud-bluetooth/logs/
ud-bluetooth/logs/*
youtube/__pycache__/
youtube/__pycache__/*
youtube/logs/
youtube/logs/*
youtube/playlists/
youtube/playlists/*
youtube/m.list
drop/logs/
drop/dmap.json
logs/*
casambi-oadr/.vscode/
casambi-oadr/.vscode/*
audio-player/.vscode/
audio-player/.vscode/*
youtube/.vscode/
youtube/.vscode/*
drop/.vscode/
drop/.vscode/*
ext/iox-plugin-developer/node_modules/*
ext/iox-plugin-developer/node_modules/
iox-plugin-ext/code/__pycache__
iox-plugin-ext/code/__pycache__/*
iox-plugin-ext/profile
iox-plugin-ext/profile/*
iox-plugin-ext/vsc-extension-quickstart.md
iox-plugin-ext/*.log
iox-plugin-ext/logs
iox-plugin-ext/logs/*
iox-plugin-ext/*.cert
iox-plugin-ext/*.key

